# Network Configuration
SEPOLIA_RPC_URL=https://1rpc.io/sepolia
PRIVATE_KEY=your_private_key_here

# API Keys
ETHERSCAN_API_KEY=J8PU7AX1JX3RGEH1SNGZS4628BAH192Y3N
VITE_WALLET_CONNECT_PROJECT_ID=e08e99d213c331aa0fd00f625de06e66
VITE_RPC_URL=https://1rpc.io/sepolia

# Contract Configuration
VITE_CONTRACT_ADDRESS=0x0000000000000000000000000000000000000000

# Pinata IPFS Configuration
VITE_PINATA_API_KEY=your_pinata_api_key_here
VITE_PINATA_SECRET_KEY=your_pinata_secret_key_here
